* {
  margin: 0;
  padding: 0;
}

:root {
  --Verydarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.Nav-menu {
  display: none;
}

.sub-img {
  display: none;
}

.Nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.Nav-logo {
  margin-left: 30px;
}

.Nav-img img {
  max-width: 100%;
  flex: 1;
}

.Nav-cart {
  display: flex;
  align-items: center;
  margin-left: 200px;
  gap: 20px;
}

.hero-img img {
  max-width: 100%;
}
